<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间, 必须唯一 -->
<mapper namespace="org.luvx.dao.HelloDao">

    <select id="findAll" resultType="Hello">
        SELECT
            id,
            word,
            num
        FROM hello
    </select>

</mapper>