<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.luvx.mapper.complex.ArticleMapper">

    <resultMap id="ArticleResultMap" type="org.luvx.entity.Article">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="article_name" property="articleName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Article_Column_List">
      id, article_name, create_time, user_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="ArticleResultMap">
        select
        <include refid="Article_Column_List"/>
        from article
        where
        id = #{id}
    </select>

    <select id="selectArticleByUserId" resultMap="ArticleResultMap">
        select
        <include refid="Article_Column_List"/>
        from article
        where
        user_id = #{userId}
    </select>
</mapper>
