<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.luvx.mapper.complex.UserMapper">
    <!-- ==============================User 相关元素 start===================================== -->
    <resultMap id="UserResultMap" type="org.luvx.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="age" property="age" javaType="INT"/>
        <!--方式1-->
        <!--<collection property="articles"  javaType="List" ofType="org.luvx.entity.Article" >-->
        <!--<id column="id" property="id" jdbcType="BIGINT"/>-->
        <!--<result column="article_name" property="articleName" jdbcType="VARCHAR"/>-->
        <!--<result column="create_time" property="createTime" jdbcType="DATE"/>-->
        <!--<result column="user_id" property="userId" jdbcType="BIGINT"/>-->
        <!--</collection>-->

        <!--方式2-->
        <!--<collection property="articles" javaType="List" ofType="org.luvx.entity.Article" resultMap="ArticleResultMap" />-->

        <!--方式3-->
        <collection property="articles" column="id" javaType="ArrayList" ofType="org.luvx.entity.Article"
                    select="org.luvx.mapper.complex.ArticleMapper.selectArticleByUserId"/>
    </resultMap>

    <sql id="User_Column_List">
        id, user_name, password, age
    </sql>
    <!-- ==============================User 相关元素 end===================================== -->

    <!-- ==============================Article 相关元素 start===================================== -->
    <resultMap id="ArticleResultMap" type="org.luvx.entity.Article">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="article_name" property="articleName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Article_Column_List">
        id, article_name, create_time, user_id
    </sql>
    <!-- ==============================Article 相关元素 end===================================== -->

<!--    <select id="selectByPrimaryKey" resultMap="UserResultMap">-->
<!--        select-->
<!--        <include refid="User_Column_List"/>,-->
<!--        <include refid="Article_Column_List"/>-->
<!--        from user R1 inner join article R2 on R1.id = R2.user_id-->
<!--        where-->
<!--        R1.id = #{id}-->
<!--    </select>-->

    <select id="selectByPrimaryKey" resultMap="UserResultMap">
        <!--    select-->
        <!--    <include refid="User_Column_List"/>,-->
        <!--    <include refid="Article_Column_List"/>-->
        <!--    from user R1 inner join article R2 on R1.id = R2.user_id-->
        <!--    where-->
        <!--    R1.id = #{id}-->
        select
        <include refid="User_Column_List"/>
        from user
        where id = #{id}
    </select>
</mapper>
