<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.luvx.mapper.empty.UpdateMapper">
    <resultMap id="BaseResultMap" type="org.luvx.common.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="age" property="age" javaType="INT"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, user_name, password, age
    </sql>

    <update id="updateByPrimaryKey">
        update user
        set user_name = #{record.userName},
            password  = #{record.password},
            age       = #{record.age}
        where id = #{record.id}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="org.luvx.common.entity.User">
        update user
        <set>
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.age != null">
                age = #{record.age,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{record.id,jdbcType=BIGINT}
    </update>

    <update id="updateSelective" parameterType="org.luvx.common.entity.User">
        update user
        <set>
            <if test="target.id != null">
                id = #{target.id},
            </if>
            <if test="target.userName != null">
                user_name = #{target.userName},
            </if>
            <if test="target.password != null">
                password= #{target.password},
            </if>
            <if test="target.age != null">
                age = #{target.age},
            </if>
        </set>
        <where>
            <if test="record.id != null">
                and id = #{record.id}
            </if>
            <if test="record.userName != null">
                and user_name = #{record.userName}
            </if>
            <if test="record.password != null">
                and password= #{record.password}
            </if>
            <if test="record.age != null">
                and age = #{record.age}
            </if>
        </where>
    </update>

    <update id="updateByPrimaryKeyList">
        update user
        <set>
            <if test="record.id != null">
                id = #{record.id},
            </if>
            <if test="record.userName != null">
                user_name = #{record.userName},
            </if>
            <if test="record.password != null">
                password = #{record.password},
            </if>
            <if test="record.age != null">
                age = #{record.age},
            </if>
        </set>
        <where>
            <foreach open="id in (" collection="ids" item="id" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <update id="updateSelectiveList" >
        update user
        <set>
            <trim suffixOverrides=",">
                <if test="target.id != null">
                    id = #{target.id},
                </if>
                <if test="target.userName != null">
                    user_name = #{target.userName},
                </if>
                <if test="target.password != null">
                    password = #{target.password},
                </if>
                <if test="target.age != null">
                    age = #{target.age}
                </if>
            </trim>
            <where>
                <foreach open="" collection="records" item="item" separator="or" close="">
                    (true
                    <if test="item.id != null">
                        and id = #{item.id}
                    </if>
                    <if test="item.userName != null">
                        and user_name = #{item.userName}
                    </if>
                    <if test="item.password != null">
                        and password= #{item.password}
                    </if>
                    <if test="item.age != null">
                        and age = #{item.age}
                    </if>
                    )
                </foreach>
            </where>
        </set>
    </update>
</mapper>