<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:dbcfg.properties"/>

    <!-- Hikari Datasource -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"  destroy-method="shutdown">
        <!-- 无需指定,除非系统无法自动识别 -->
        <!-- <property name="driverClassName" value="${jdbc.driverClass}" /> -->
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <!-- 连接池中允许的最大连接数.缺省值:10;推荐的公式:((core_count * 2) + effective_spindle_count) -->
        <property name="maximumPoolSize" value="15" />
        <!-- 连接只读数据库时配置为true, 保证安全 -->
        <property name="readOnly" value="false" />
        <!-- 等待连接池分配连接的最大时长(毫秒),超过这个时长还没可用的连接则发生SQLException, 缺省:30秒 -->
        <property name="connectionTimeout" value="10000" />
        <!-- 一个连接idle状态的最大时长(毫秒),超时则被释放(retired),缺省:10分钟 -->
        <property name="idleTimeout" value="600000" />
        <!-- 
        一个连接的生命时长(毫秒),超时而且没被使用则被释放(retired),缺省:30分钟,建议设置比数据库超时时长少30秒,
        参考MySQL wait_timeout参数(show variables like '%timeout%';)
        -->
        <property name="maxLifetime" value="1800000" />
    </bean>

    <!-- Druid Datasource -->
<!--    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> -->
<!--        <!-- <property name="driverClassName" value="${jdbc.driver}" /> --> -->
<!--        <property name="url" value="${jdbc.url}" /> -->
<!--        <property name="username" value="${jdbc.username}" /> -->
<!--        <property name="password" value="${jdbc.password}" /> -->

<!--        <property name="maxActive" value="20" /> -->
<!--        <property name="initialSize" value="1" /> -->
<!--        <property name="maxWait" value="60000" /> -->
<!--        <property name="minIdle" value="1" /> -->
<!--        <!-- 验证连接是否成功, SQL SELECT 指令至少要返回一行  (测试/验证连接池连接的SQL语句也因数据库而异)--> -->
<!--        <property name="validationQuery" value="SELECT 1" /> -->
<!--        <!-- 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。 --> -->
<!--        <property name="testOnBorrow" value="false" /> -->
<!--        <!-- 归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能 --> -->
<!--        <property name="testOnReturn" value="false" /> -->
<!--        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 --> -->
<!--        <property name="minEvictableIdleTimeMillis" value="300000" /> -->
<!--        <!-- -->
<!--            建议配置为true，不影响性能，并且保证安全性。 -->
<!--            申请连接的时候检测，如果空闲时间大于timeBetweenEvictionRunsMillis，执行validationQuery检测连接是否有效。 -->
<!--        --> -->
<!--        <property name="testWhileIdle" value="true" /> -->
<!--        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 --> -->
<!--        <property name="timeBetweenEvictionRunsMillis" value="30000" /> -->
<!--        <!-- 要启用PSCache，必须配置大于0，当大于0时，poolPreparedStatements自动触发修改为true。 --> -->
<!--        <property name="maxOpenPreparedStatements" value="20" /> -->
<!--        <!-- -->
<!--            是否缓存preparedStatement，也就是PSCache。PSCache对支持游标的数据库性能提升巨大，比如说oracle。 -->
<!--            在mysql5.5以下的版本中没有PSCache功能，建议关闭掉。5.5及以上版本有PSCache，建议开启。 -->
<!--        --> -->
<!--        <property name="poolPreparedStatements" value="true" /> -->
<!--        <!-- 指定每个PSCache连接上PSCache的大小 --> -->
<!--        <property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->
<!--        <!-- -->
<!--            配置监控统计拦截的filters 去掉后监控界面sql无法统计 -->
<!--            开启web监控、开启sql防火墙 -->
<!--        --> -->
<!--        <property name="filters" value="stat,wall"></property> -->
<!--    </bean> -->

    <!-- sqlSessionFactory 使用MyBatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:SqlMapConfig.xml"/>
        <!-- 扫描entity包 使用别名 -->
        <property name="typeAliasesPackage" value="org.luvx.entity"/>
        <!-- 扫描sql配置文件:mapper需要的xml文件 -->
        <property name="mapperLocations" value="classpath:org/luvx/mapper/*.xml"/>
    </bean>

    <!-- 配置Mapper扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.luvx.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>