<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>单文件上传</p>
<form action="/upload/upload1" method="POST" enctype="multipart/form-data">
    文件：<input type="file" name="file"/>
    <p><input type="submit" value="上传"/></p>
</form>
<hr/>
<p>多文件上传</p>
<form method="POST" enctype="multipart/form-data" action="/upload/batchUpload1">
    <p>文件：<input type="file" name="files" multiple/></p>
    <p><input type="submit" value="上传"/></p>
</form>
<hr/>
<p>多文件上传</p>
<form method="POST" enctype="multipart/form-data" action="/upload/batchUpload2">
    <p>文件：<input type="file" name="files" multiple/></p>
    <p><input type="submit" value="上传"/></p>
</form>

<hr/>

<p>文件下载</p>
<a href="/download/download1">下载文件</a>
<hr/>
<p>文件下载</p>
<a href="/download/download2">下载文件</a>
<hr/>

</body>
</html>