<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="docPrinter" class="org.luvx.service.impl.DocPrinter"></bean>
    <bean id="printerAspect" class="org.luvx.aspect.PrinterAspect1"></bean>

    <bean id="proxyFactory" class="org.springframework.aop.framework.ProxyFactoryBean">

        <!--接口信息,没有实现就不写此属性-->
        <!--<property name="interfaces" value="org.luvx.service.Printable"></property>-->

        <!--指定目标类-->
        <property name="target" ref="docPrinter"></property>
        <!--指定切面类-->
        <!--<property name="interceptorNames" value="printerAspect"></property>-->
        <property name="interceptorNames">
            <list>
                <value>printerAspect</value>
            </list>
        </property>

        <!--是否强制使用cglib-->
        <!--<property name="optimize" value="true"></property>-->

    </bean>
</beans>
