<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <a href="http://localhost:8080/oauth/authorize?client_id=client-jwt&response_type=code&scope=all&redirect_uri=http://localhost:8082/login">OAuth登录</a>
    <a href="http://localhost:8080/logout">注销</a>
    <a href="http://localhost:8082/logout">清除本地token</a>
    <br/>
    <span th:text="'当前用户：' + ${username}"></span>
    <span th:text="'头像:'"></span> <img th:src="${headPic}"/><br/>
    <span th:text="'token：' + ${accessToken}"></span>
</div>
</body>
</html>