<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title>用户 : Create</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" th:href="@{/user}" href="user.html"> 用户列表 </a>
    </div>
    <h4 class="float-left mt-2">用户 : 创建/修改</h4>
    <div class="clearfix"></div>
    <form id="userForm" th:action="@{/user}" th:object="${user}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
        </div>
        <input type="hidden" th:field="*{id}"
               th:class="${'form-control' + (#fields.hasErrors('id') ? ' is-invalid' : '')}"/>
        <div class="form-group">
            <label for="userName">用户名</label>
            <input type="text" th:field="*{userName}"
                   th:class="${'form-control' + (#fields.hasErrors('userName') ? ' is-invalid' : '')}">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="text" th:field="*{password}"
                   th:class="${'form-control' + (#fields.hasErrors('password') ? ' is-invalid' : '')}">
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
</body>
</html>
