<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title>用户: View all</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="form.html" th:href="@{/user/form}">添加用户</a>
    </div>
    <h4 class="float-left mt-2">用户列表</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>年龄</th>
            <th>生日</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="3">No users</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.userName}">用户名</td>
            <td th:text="${user.age}">年龄</td>
            <td th:text="${user.birthday}">生日</td>
            <td th:text="${user.updateTime}">修改时间</td>
            <td>
                <a href="view.html" th:href="@{'/user/' + ${user.id}}" th:text="${user.userName}">用户名</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
