<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.luvx.mapper.dynamic.DynamicMapper">

    <resultMap id="BaseResultMap" type="org.luvx.common.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="age" property="age" javaType="INT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, password, age, update_time
    </sql>


    <insert id="insertByCon">
        insert into ${tableName} (
            user_name, password, age
        )values
        (
        #{user.userName}, #{user.password}, #{user.age}
        )
    </insert>

    <insert id="insertListByCon">
        insert into ${tableName} (
            user_name, password, age
        )values
        <foreach collection="user" item="item" index="index" separator=",">
            (
            #{item.userName}, #{item.password}, #{item.age}
            )
        </foreach>
    </insert>

    <delete id="deleteByCon">
        delete from ${tableName}
        <where>
            <if test='user.id != null'>
                and id = #{user.id}
            </if>
            <if test='user.userName != null'>
                and user_name = #{user.userName}
            </if>
            <if test='user.password != null'>
                and password= #{user.password}
            </if>
            <if test='user.age != null'>
                and age = #{user.age}
            </if>
        </where>
    </delete>

    <delete id="deleteByCon1">
        delete from ${tableName}
        <where>
            <if test='user.id != null'>
                and id = #{user.id}
            </if>
            <if test='user.userName != null'>
                and user_name = #{user.userName}
            </if>
            <if test='user.password != null'>
                and password= #{user.password}
            </if>
            <if test='user.age != null'>
                and age = #{user.age}
            </if>
        </where>
    </delete>

    <update id="updateByCon">
        update ${tableName}
        set
            <if test='newUser.userName != null'>
                user_name = #{newUser.userName}
            </if>
        <where>
            <if test='user.id != null'>
                and id = #{user.id}
            </if>
            <if test='user.userName != null'>
                and user_name = #{user.userName}
            </if>
            <if test='user.password != null'>
                and password= #{user.password}
            </if>
            <if test='user.age != null'>
                and age = #{user.age}
            </if>
        </where>
    </update>

    <select id="selectByCon" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        <where>
            <if test='user.id != null'>
                and id = #{user.id}
            </if>
            <if test='user.userName != null'>
                and user_name = #{user.userName}
            </if>
            <if test='user.password != null'>
                and password= #{user.password}
            </if>
            <if test='user.age != null'>
                and age = #{user.age}
            </if>
        </where>
    </select>

</mapper>